{% extends 'base.html' %}
{% load static %}



{% block body %}
<section class=" slogan-section">
    <div class="blog-background-img">
        <img src="{% static 'blog-background5.jpeg' %}" alt="">
    </div>
    <div class="slogan">
        <div class="slogan-logo" style="display: flex;">
            <img src="{% static 'blog_logo.svg' %}" alt="">
            <!-- <h1>BLOGOSPHARE</h1> -->
        </div>
        <h1 class="fw-bold">Dive into the Depths of Knowledge</h1>
        <h5>Create a unique and beautiful blog easily.</h5>

        <form action="{% url 'addblog' %}">
            <button class="btn btn-success fw-bold">Share you thoughts</button>
        </form>

        {% comment %}
        {% if request.user.is_authenticated %}

        {% else %}
        <form action="{% url 'login' %}?next={% url 'addblog' %}">
            <button class="btn btn-success fw-bold">Share you thoughts</button>
        </form>
        {% endif %}
        {% endcomment %}

    </div>
</section>



<section class="all_blog_container my-5">
    
    <div class="blog-cat-wrapper">
        <div class="all_blog_wrapper mt-3">
    
            <div class="d-flex mb-5 mx-5" style="border-bottom: 1px solid #cccccc;">
                <button class="ms-1 pb-1 fs-5" style="color:#555555;border:none;background:none;">All Blogs</button>
                <button class="ms-1 pb-1 ms-5 fs-5" style="color:#555555;border:none;background:none;">For you</button>
            </div>
            <div class="all_blogs w-100">

            </div>
        </div>
        <div class="cat_card  mt-3">
            <h2 class="mb-5 fw-bold mx-2 fs-4">Topics</h2>

            <div class="mx-2 d-flex gap-3 flex-wrap" >
                {% for category in object_list %}
                <button style="background-color: #e6e6e6" class="btn py-2 px-3 rounded-pill" onclick="getBlogs({{category.id}})">{{category|capfirst }}</button>
                {% endfor %}
                <button style="background-color: #e6e6e6" class="btn py-2 px-3 rounded-pill" onclick="get_all_blogs()">Show all</button>
            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block js %}
<script>
    function appendBlogs(value, idx, arr) {
        block = document.querySelector('.all_blogs')
        console.log(value.content.toLowerCase())

        block.innerHTML += ` 
        <div class='px-5 d-flex gap-2 text-align-vertical'>
            <img src="${value.profile.profile_img}" style="width:1.7rem;height:1.7rem;" class="rounded-circle" alt="">
            <form action="http://127.0.0.1:8000/blog/${value.profile.id}/">
                <button class="dropdown-item" type="submit"><p>${value.profile.name}</p></button>
            </form>
        </div>                   
        <div class="blog_card px-5 mb-5">
            <div class="blog_content">
                
                <form action="http://127.0.0.1:8000/blog/${value.slug}/">
                    <button class="dropdown-item" type="submit"><h4 class="fw-bold fs-5">${value.title}</h4></button>
                </form>
                <div  style="height: 70%;padding-bottom: 2rem;">${value.content}</div>
            </div>
            <div class="blog_img h-78">
                <img src="${value.blog_image}" alt="">
            </div>
        </div>`
    }

    function get_all_blogs() {
        fetch('http://127.0.0.1:8000/blog/api/getallblogs/')
            .then((response) => {
                return response.json();
            })
            .then((data) => {
                document.querySelector('.all_blogs').innerHTML = ""
                data.forEach(appendBlogs);
            })
    }

    get_all_blogs()

    function getBlogs(id) {
        fetch('http://127.0.0.1:8000/blog/api/filterBlogs/'+id+"/")
            .then((response) => {
                return response.json();
            })
            .then((data) => {
                document.querySelector('.all_blogs').innerHTML = ""
                data.forEach(appendBlogs);
            })
    }

</script>
{% endblock %}