{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static '/common/css/navbar.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


</head>

<body>
    <nav class="main-nav-bar bg-dark">
        <div class="nav-content-wrapper">
            <div class="nav-wrapper">
                <div class="logo">
                    <img src="{% static 'blog_logo.svg' %}" alt="">

                    <h2>BLOGOSPHARE</h2>

                </div>

                <div class="nav-items-wrapper">
                    <ul class="nav-items">
                        <li><a href="#">HOME</a></li>
                        <li><a href="#">ABOUT</a></li>
                        <li class="dropdown">
                            <button id="category-btn">
                                CATEGORIES
                                <span><i class="fa fa-caret-down" aria-hidden="true"></i>
                                </span>
                            </button>
                            <ul class="category-items">
                                <li><a href="#">Blog</a></li>
                                <li><a href="#">Academy</a></li>
                                <li><a href="#">Reviews</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="nav-bar-search">
                <form action="#" class="search">
                    <input type="search" placeholder="search blog" class="search-bar bg-dark">
                    <button style="margin-left: 5px;" class="btn btn-dark"><i class="fa fa-search"
                            aria-hidden="true"></i>
                    </button>
                </form>
                <form action="">
                    <button type="submit" class="btn btn-outline-primary">Login</button>
                </form>
                <form action="">
                    <button type="submit" class="btn btn-danger">Signup</button>
                </form>

            </div>
        </div>
    </nav>
    <section class=" slogan-section">
        <div class="blog-background-img">
            <img src="{% static 'blog-background5.jpeg' %}" alt="">
        </div>
        <div class="slogan">
            <div class="slogan-logo" style="display: flex;">
                <img src="{% static 'blog_logo.svg' %}"  alt="">
                <!-- <h1>BLOGOSPHARE</h1> -->
            </div>
            <h1 class="fw-bold">Dive into the Depths of Knowledge</h1>
            <h5>Create a unique and beautiful blog easily.</h5>
            <button class="btn btn-success fw-bold">Share you thoughts</button>
        </div>
    </section>
</body>
<script src="{% static '/common/js/navbar.js' %}"></script>

</html>