body{
    background-color: rgb(252, 252, 252);
}

.main-nav-bar {
    /* border: 1px solid red; */
    position: relative;
    padding: 1.4rem 10%;
    background-color: white;

}


.nav-content-wrapper {
    display: flex;
    justify-content: space-between;
    /* border: 1px solid red; */
}

/* ####################### Logo styling #################### */

.logo {
    display: flex;
    align-items: center;

    justify-content: center;


}

.logo img {
    height: 2.5rem;
    width: 2.5rem;
}

.logo h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0;
   
}



/* ######################## nav item styling #################3 */



.nav-items-wrapper {

    display: flex;
    align-items: center;
}

.main-nav-bar .nav-wrapper {
    display: flex;

}

.nav-items li {
    list-style: none;
    margin: 0 2rem;

}

.nav-items {
    position: relative;
    display: flex;
    /* border: 1px solid red; */
    align-items: center;
    margin: auto;
}

.category-items {
    display: none;
    /* border: 1px solid red; */
    position: absolute;
    z-index: 999;
}

.nav-items a {
    text-decoration: none;
    color: black;
}

.nav-items {
    display: flex;
}

.fa-caret-down {

    font-size: 1.2rem !important;
    margin-left: 0.5rem;
}

#category-btn {
    background: none;
    border: none;
}


.nav-bar-search{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    /* border: 1px solid red; */
}
.nav-bar-search>form {
    display: flex;
    align-items: center;
}

.nav-bar-search form input {
    height: 37px;
    border:none;
    border:1px solid grey;
    border-radius: 3px;
    padding: 7px;
}



/* ######################### slogan section ##################3 */

.slogan-logo img{
    height: 5rem;
    width: 5rem;
}

.slogan{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
    gap: 1rem;

}