{% extends 'base.html' %}
{% load static %}
{% load filters %}
{% block body %}

<style>


    .profile_wrapper{
        display: flex;
        margin: 6rem 11% 0;
        /* border: 1px solid red; */
        min-height: 75vh;

      
    }

    .use_detail {
        /* border: 1px solid red; */
        border-left: 1px solid rgb(221, 221, 221);
        flex:1;
    }

    .user_blog_detail{
        flex: 2;
    }
</style>
<section class="profile_container">

    <div class="profile_wrapper">
        <div class="user_blog_detail me-3">

            <div class="d-flex gap-5 me-5" style="border-bottom: 1px solid rgb(238, 238, 238);">
                <button class="btn px-0 rounded-0" style="font-size: 1.2rem; border-bottom: 1px solid rgb(100, 100, 100);">My Blogs</button>
                <button class="btn px-0 rounded-0" style="font-size: 1.2rem;">Followers</button>
                <button class="btn px-0 rounded-0" style="font-size: 1.2rem;">Following</button>
            </div>
            <div class="pt-4 pe-5">
                <div class="user_blog_wrapper">
                    {% for blog in blogs %}
                    <div class="blog_card my-5">
                     
                        <div class="blog_content">
                       
                            <div class="d-flex gap-2 text-align-vertical">
                                <img src="{{profile_data.profile_img}}" style="width:1.7rem;height:1.7rem;" class="rounded-circle" alt="">
                                <p>{{profile_data.name}}</p>
                                <p style="color:#7f7f7f"></p>
                            </div> 
                            <h4 class="fw-bold">{{blog.title}}</h4>
                            <p>{{blog.content|striptags|truncatewords:30}}</p>
       
                        </div>
                        <div class="blog_img ms-3" style="width: 16rem;height: 10rem;">
                            <img src="{{blog.blog_image.url}}" class="w-100 h-100" alt="">
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
         
        </div>
        <div class="use_detail ps-4">
            <div>
                <div class="user_dp_name_followers">
                    <img style="width: 7rem;height: 7rem; border-radius: 50rem;object-fit: cover;"
                        src="{{profile_data.profile_img}}" alt="">
                    <h3 class="pt-3 ps-1">{{profile_data.name}}</h3>
                    <p class="ps-1"> 25 followers</p>
                </div>

                <div class="ps-1 pe-4">
                    <p class="user_bio" style="text-align: justify;">{{profile_data.bio}}
                    </p>
                    <div>
                        <button class="btn btn-dark">Follow</button>
                        <a href="#" class="ms-2 text-success" > Edit profle </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}