


.blog_editor_form{
    width: 80%;
    /* border: 1px solid red; */
    
}

.blogEditorContainer{
    display: flex;
    align-items: center;   
    justify-content: center;
}

.blogeditor label{
    font-size: 1.26rem;
    font-weight: bold;
    color: grey;

}

.fr-wrapper{
    min-height: 15rem !important;
}