{% extends 'forms_base.html' %}
{% load filters %}


{% block form_template %}
<div class="login-page">
    {{form.non_field_errors}}
    <h2 class="mb-2">Login to your account</h2>
    <p class="mb-4 fs-5" style="color: grey">Please enter your details</p>
    <form  method="post" action="http://127.0.0.1:8000/auth/login/?next={{next}}">
        {% csrf_token %}
        {{form.field.errors}}
        <div class="email pb-4"> 
            {{form.username.label_tag}}
            {{form.username|addclass:'py-2 px-2'|placeholder:'Enter your email'}}
            <div id="emailHelp" class="form-text">{{form.email.errors}}</div>
        </div>
        <div class="password pb-4"> 
            {{form.password.label_tag}} <br>
            {{form.password|addclass:'py-2 px-2'|placeholder:'Enter your password'}}
            <div id="emailHelp" class="form-text">{{form.password.errors}}</div>
        </div>
        <button class="btn btn-danger px-4">Login</button>
    </form>
    <p class="mt-4" style="color: grey;">Don't have account ? <span><a href="" style="color:red;">Login here</a></span></p>
</div>
{% endblock %}